nav {
  background: #161b22;
  height: 40px;
  display: grid;
  grid-auto-flow: column;
  font-size: large;
  color: aliceblue;
  border: 1px solid black;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  align-items: center;
}

body {
  margin: 0px;
}
.profile {
  border: 1px white solid;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 20px;
  background-repeat: round;
  background-image: url(https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png);
}
.profile_div {
  position: absolute;
  top: 0;
  right: 0;
  width:60px;
  height: 100%;
  display: grid;
  align-items: center;
}


.searchicon {
  position: absolute;
  left: 6%;
  font-size: larger;
  z-index: 1;
}

.profile_dropdownicon {
  position: absolute;
  right: 0;
}
#searchhelpmework {
  width: 150px;
  background: #0d1117;
  border: none;
  position: absolute;
  left: 5%;
  top: 5px;
  bottom: 5px;
  border-radius: 5px;
  z-index: 1;
  color: wheat;
  padding-left: 40px;
}

#HomeworksearchModalDiv {
  display: block;
  flex-flow: wrap;
  overflow-y: auto;
  gap: 5%;
  padding: 5%;
}


.usernhw_search_switcher_span {
  height: 100%;
  width: 100%;
  text-align: center;
  display: grid;
  align-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  display: grid;
  align-content: center;
  border-right: 2px solid white;
  grid-auto-flow: column;
  justify-content: center;
  gap: 5px;
}

#usernhw_search_switcher {
  display: grid;
  grid-auto-flow: column;
  position: absolute;
  right: 5%;
  left: 5%;
  /* border: 1px white solid; */
  justify-content: space-around;
  height: 40px;
  font-size: larger;
  font-family: monospace;
  align-items: center;
  top: 50px;
  background: #0d1117;
  border-radius: 5px;
  grid-template-columns: 50% 50%;
  overflow: hidden;
}

.searchModalDiv {
    position: absolute;
    top: 90px;
    display: grid;
    right: 5%;
    left: 5%;
    bottom: 5%;
    border-radius: 2px;
    filter: drop-shadow(2px 4px 6px black);
    background-color: #0d1117;
    background: url("https://c.tenor.com/uyV5AiN5CxsAAAAM/spongebob-study.gif");
    background-repeat: round;
    background-size: contain;
    align-content: baseline;
}

.a_result {
  position: relative;
  left: 0;
  right: 0;
  color: white;
  border: 1px white dashed;
  display: block;
  padding: 10px;
  font-family: system-ui;
  text-decoration: none;
  max-height: 50px;
}

#HomeworkHome {
  position: fixed;
  top: 40px;
  bottom: 0%;
  overflow-y: auto;
  right: 0;
  padding-top: 25px;
  left: 0;
  /* padding-bottom: 25px; */
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  background-color: #444444;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d62929;
  background-image: -webkit-linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.4) 50%,
    transparent,
    transparent
  );
}

#searchModal {
  display: none;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgb(0 0 0 / 68%);
}
#shareModal {
  display: none;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgb(0 0 0 / 68%);
}

.hidemyprnt {
  position: absolute;
  right: 5%;
  top: 0px;
  color: rgb(230, 63, 174);
  font-size: xx-large;
}

img.homework_img {
  height: 100%;
  width: 100%;
  position: absolute;
}

.shareModalDiv {
  position: absolute;
  top: 50px;
  display: grid;
  right: 5%;
  left: 5%;
  bottom: 5%;
  border-radius: 2px;
  filter: drop-shadow(2px 4px 6px black);
  background-color: #0d1117;
  background-repeat: round;
  background-size: contain;
  align-content: baseline;
}
.upload_image {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.upload_image_div {
  height: 100px;
  width: 100px;
  background: black;
  border: 1px dashed white;
  position: relative;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-size: large;
  font-family: monospace;
  align-content: space-around;
  text-align: center;
  border-radius: 5px;
  margin-left: auto;
  margin: auto;
  margin-top: 25%;

}

#Sharebtn {
  position: absolute;
  bottom: 1%;
  height: 7%;
  background: #4c4abd;
  font-family: monospace;
  display: grid;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: whitesmoke;
}


#about_label {
  position: absolute;
  bottom: 26%;
  font-family: system-ui;
  padding: 2px 5%;
  width: fit-content;
  background: #4c4abd;
  border-radius: 2px;
  text-align: center;
  font-size: smaller;
  left: 5px;
}
#about_input {
  font-family: monospace;
  position: absolute;
  top: 75%;
  right: 5px;
  left: 5px;
  height: 15%;
  word-break: break-all;
  border: 1px white dotted;
}

.unactive_img{
  display: none;
}
.active_img{
  display: block;
}



#previewing_img {
  position: absolute;
  top: 5px;
  height: 45%;
  background: darkblue;
  width: 50%;
  left: 25%;
  border-radius: 5px;
  background-repeat: round;
  background-size: cover;
}

#preview_img_div {
  position: absolute;
  height: 16%;
  border: 1px white dotted;
  right: 2px;
  left: 2px;
  display: grid;
  top: 50%;
  grid-auto-flow: column;
  justify-content: flex-start;
  gap: 5px;
  padding: 3px;
  overflow-y: hidden;
  overflow-x: auto;
}

.preview_img {
  position: relative;
  background: red;
  width: 50px;
  height: 100%;
  overflow: hidden;
  display: grid;
  border-radius: 2px;
}

#shareModalDivpost{
  display: none;
}


#sml_upload_img_div {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-size: small;
  font-family: monospace;
  align-content: space-around;
  text-align: center;
  border: 1px white dashed;
  background: none;
}

#NSUF, #NSHF {
  position: absolute;
  left: 0;
  right: 0;
  color: #dcfbfd;
  border: 2px red dashed;
  display: block;
  padding: 10px;
  font-family: system-ui;
  text-decoration: none;
  max-height: 50px;
  font-family: monospace;
  /* width: 100%; */
  font-size: large;
  margin: 10px;
  left: 0;
  right: 0;
}

.hide{
  display: none;
}





.search_hw_Container {
  position: relative;
  left: 0;
  right: 0;
  color: white;
  border: 1px white solid;
  display: block;
  /* padding: 5px; */
  font-family: system-ui;
  text-decoration: none;
  max-height: 300px;
  max-width: 300px;
  min-height: 200px;
  overflow: hidden;
  width: 200px;
  height: 300px;
  border-radius: 5px;
}


.search_hw_img {
  height: 80%;
  width: 100%;
 
}


.search_hw_desc {
  position: absolute;
  top: 80%;
  height: 20%;
  overflow-y: auto;
  background: rgb(134 111 171 / 86%);
  padding-left: 5px;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
#save_profile_btn,
#edit_profile_btn{
    position: absolute;
    left: 40%;
    top: 200px;
    background: #a265db;
    padding: 5px;
    border-radius: 2px;
    font-family: monospace;
    display: none;
}


@media only screen and (max-width: 400px) {
  #searchhelpmework{
    display: none;
    width: 60vw;
  }
  .view_profile_pic {
    height: 100px !important;
    width: 100px !important;
}
.hidemyprnt {
  position: fixed;
  right: 10%;
  top: 0px;
  color: rgb(255 228 246);
  font-size: xx-large;
}
.searchModalDiv {
  
  top: 50px;}
 


#usernhw_search_switcher {
  top: 10px;
  
}


}

#ananymous_user {
  position: absolute;
  right: 10px;
  background: forestgreen;
  top: 10%;
  bottom: 10%;
  display: grid;
  align-items: center;
  border-radius: 2px;
  font-family: monospace;
  padding: 0px 5px;
}