

{% extends 'base.html' %}
 {% load static %}
{% block headload %}
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock headload %}
{% block nav %}
<nav> <input type="text" name="" id="searchhelpmework" placeholder="search">  <i id="HMWSearchIcon" class="bi bi-search searchicon"></i> <a class="titlemain"  href="{% url 'home' %}">Help me work</a>   <div class="profile_div" ><span class="profile" ></span> <i class="bi bi-caret-down-fill profile_dropdownicon"></i> </div> </nav>
<div id="searchModal" >
    <i class="bi bi-x-square hidemyprnt"></i>
    <div id="usernhw_search_switcher" > <div class="usernhw_search_switcher_span" ><i class="bi bi-people-fill"></i> User</div> <div class="usernhw_search_switcher_span" > <i class="bi bi-journal-text"></i> Homeworks</div>  </div>
    <div id="UsersearchModalDiv" class="searchModalDiv"></div>
    <div id="HomeworksearchModalDiv" class="searchModalDiv" ></div>
</div>
<div id="pofile_arrowbox" >
<a href="{% url 'view_profile' request.user %}"  class="arrowboxbtn">
  {{request.user}}
</a>

<div class="arrowboxbtn" id="share_homework">Share</div>
{% comment %} <div class="arrowboxbtn">Edit profile</div>    {% endcomment %}

<form class="arrowboxbtn" action="/logout" method="GET">
<button type="submit" class="logoutbtn"> logout</button></form>

</div>


<div id="shareModal" >
    <i class="bi bi-x-square hidemyprnt"></i>
    <form class="shareModalDiv" id="shareModalDivpost" action="/share" method="POST" >
     {% csrf_token %}
      <div id="previewing_img" ></div>
      <div id="preview_img_div">
      <div class="preview_img" id="sml_upload_img_div" > <input type="file" accept="image/png, image/gif, image/jpeg" class="" id="" multiple > <i class="bi bi-plus-square-dotted"> <span>Add image</span> </i>   </div>
     </div>
    <div id="about_label" >About</div>
    <div id="about_input"  contenteditable="true" ></div>
    <input type="text" name="homework_about" class="hide" >
    <input type="text" name="homework_images" class="hide">
    <button id="Sharebtn"class="" type="submit" >Share</button>
</form>

    <div id="" class="shareModalDiv" >
    <div class="upload_image_div" > <i class="bi bi-plus-square-dotted"></i>  <input type="file" accept="image/png, image/gif, image/jpeg" class="upload_image" id="" multiple > <span>upload image</span> </div>
    </div>    
</div>

{% comment %} <div id="NSHF" >No such homework found</div>
<div id="NSUF" >No such user found</div> {% endcomment %}
{% endblock nav %}

{% block content %}


<div id="HomeworkHome" >


{% if homework %}
<div class="homework_container" >
<div class="postedby_profile" >
<span class="postedby_profilepic profile" ></span>
<span class="homework_postedby"> {{homework.postedby}}</span>
<span class="homework_posttime" > {{homework.posttime | date:"d M Y f A"}}</span>
</div>
<i class="bi bi-caret-left-fill img-slide-left"></i>
<i class="bi bi-caret-right-fill img-slide-right"></i>
<div class="homework_img_divs">
{% for voters in homework.imgsrcs %}

<img  src={{ voters }} class="homework_img {% cycle 'active_img' 'unactive_img' 'unactive_img' 'unactive_img' 'unactive_img' 'unactive_img' 'unactive_img' %}">
{% endfor %}
</div>
{% comment %} |slice:"1:-1" {% endcomment %}

<span class="homework_description" > {{homework.description}}</span>


<div class="homework_upvoted_by_div">

{% if request.user in homework.upvoted_by.all %} 

<i class="bi bi-hand-thumbs-up-fill upvote_btn"></i>
{% else %}
<i class="bi bi-hand-thumbs-up upvote_btn" ></i>
{% endif %} 



<span class="homework_upvoted_by_count"> {{ homework.upvoted_by.all | length }}</span>
<i class="bi bi-share" data-toggle="message" data-target="#1" data-expire="2000" ></i>
<i class="bi bi-file-earmark-arrow-down"></i>


 </div>



<div style="display:none;" >
{% for voters in homework.upvoted_by.all %}
{{voters}}
{% endfor %}
</div>
<span class="homework_no"> {{homework.pk}}</span>

</div>
{% else %}



 {% comment %} ????????!!!!!!!!!!!! {% endcomment %}

 {% for homework in homeworks %}

<div class="homework_container" >
<div class="postedby_profile" >
<span class="postedby_profilepic profile" ></span>
<span class="homework_postedby"> {{homework.postedby}}</span>
<span class="homework_posttime" > {{homework.posttime | date:"d M Y f A"}}</span>
</div>
<i class="bi bi-caret-left-fill img-slide-left"></i>
<i class="bi bi-caret-right-fill img-slide-right"></i>
<div class="homework_img_divs">
{% for voters in homework.imgsrcs %}
{% if forloop.counter == 1 %}
<img  src={{ voters }} class="homework_img active_img">
{% else %}
<img  src={{ voters }} class="homework_img unactive_img">
{% endif %}
{% endfor %}

</div>
{% comment %} |slice:"1:-1" {% endcomment %}

<span class="homework_description" > {{homework.description}}</span>


<div class="homework_upvoted_by_div">

{% if request.user in homework.upvoted_by.all %} 

<i class="bi bi-hand-thumbs-up-fill upvote_btn"></i>
{% else %}
<i class="bi bi-hand-thumbs-up upvote_btn" ></i>
{% endif %} 



<span class="homework_upvoted_by_count"> {{ homework.upvoted_by.all | length }}</span>
<i class="bi bi-share" data-toggle="message" data-target="#1" data-expire="2000"></i>
<i class="bi bi-file-earmark-arrow-down" data-toggle="message" data-target="#2" data-expire="2000"></i>

 </div>



<div style="display:none;" >
{% for voters in homework.upvoted_by.all %}
{{voters}}
{% endfor %}
</div>
<span class="homework_no"> {{homework.pk}}</span>

</div>
{% comment %} Container  {% endcomment %}

{% endfor %}


{% endif %}


{% comment %} Container ka container {% endcomment %}
</div>



<div id="1" class="message fade">
  share link copied to clipboard
</div>

<div id="2" class="message fade">
  Downloading homeworks
</div>


{% comment %} button type="button" data-toggle="message" data-target="#1">
  Open message
</button>

<button type="button" data-toggle="message" data-target="#1" data-expire="2000">
  Open disappearing message
</button>< {% endcomment %}
{% endblock content %}

{% block script %}
<script src="{% static 'home.js' %}" type="module"></script>
<script src="{% static 'message.js' %}" type="module"></script>

{% endblock script %}


