

{% extends 'base.html' %}
 {% load static %}
{% block headload %}
{% comment %} <link rel="icon" type="image/x-icon" href="{% static 'android-chrome-192x192.png' %}"> {% endcomment %}
<link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/djwe9njg4/image/upload/v1638547408/favicon/android-chrome-192x192_guvebm.png">
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock headload %}
{% block nav %}
<div class="add-btn">Add to home screen for better experience</div>
<nav> <a href="{% url 'home' %}" class="home_icon" > <i class="bi bi-house-fill" ></i></a> <input type="text" name="" id="searchhelpmework" autocomplete="off" placeholder="search">  <i id="HMWSearchIcon" class="bi bi-search searchicon"></i> <a class="titlemain"  href="{% url 'home' %}">Help me work</a> 
{% if request.user.is_authenticated %}
<div class="profile_div" ><span class="profile" ></span> <i class="bi bi-caret-down-fill profile_dropdownicon"></i> </div>
{% else %}
<a id="ananymous_user" href="{% url 'home' %}" >login</a>
{% endif %}   </nav>

<div id="searchModal" >
    <i class="bi bi-x-square hidemyprnt"></i>
    <div id="usernhw_search_switcher" > <div class="usernhw_search_switcher_span" ><i class="bi bi-people-fill"></i>Users</div> <div class="usernhw_search_switcher_span" style="color:blueviolet;" > <i class="bi bi-journal-text"></i> Homeworks <i id="filter_btn" class="bi bi-sort-numeric-down"></i> </div>  </div>
    <div id="UsersearchModalDiv" class="searchModalDiv"></div>
    <div id="HomeworksearchModalDiv" class="searchModalDiv" ></div>
</div>
{% if request.user.is_authenticated %}
<div id="pofile_arrowbox" >
<a href="{% url 'view_profile' request.user %}"  class="arrowboxbtn">
  {{request.user}}
</a>

<div class="arrowboxbtn" id="share_homework">Share</div>
<div class="arrowboxbtn" id="ask_homework">Ask work</div>
<a class="arrowboxbtn" href="{% url 'pending_works' request.user %}"  id="ask_homework">Pending works</a>
{% comment %} <div class="arrowboxbtn">Edit profile</div>    {% endcomment %}

<form class="arrowboxbtn" action="/logout" method="GET">
<button type="submit" class="logoutbtn"> logout</button></form>

</div>
{% else %}
{% endif %}

<div id="askModal" class="blur_bg">
<i class="bi bi-x-square hidemyprnt"></i>
<form id="" class="shareModalDiv" action="/upload_question" method="POST" >
{% csrf_token %}
<textarea name="question"  id="ask_homework_input" ></textarea>
<button id="ask_homework_div" type="submit" >Ask</button>
</form>  
</div>


<div id="shareModal" class="blur_bg" >
    <i class="bi bi-x-square hidemyprnt"></i>
    <form class="shareModalDiv"  id="shareModalDivpost" action="/share" method="POST" >
     {% csrf_token %}
      <div id="previewing_img" ></div>
      <div id="preview_img_div">
      <div class="preview_img" id="sml_upload_img_div" > <input type="file" accept="image/png, image/gif, image/jpeg" class="" id="" multiple > <i class="bi bi-plus-square-dotted"> <span>Add image</span> </i>   </div>
     </div>
    <div id="about_label" >About</div>
    <div id="about_input"  contenteditable="true" ></div>
    <input type="text" name="homework_about" class="hide" >
    <input type="text" name="homework_images" class="hide">
    <input type="text" placeholder="Subject" id="homework_subject" name="homework_subject" id="">
    <div id="homework_donedate_lable" > work done date
        <input type="date" name="homework_donedate" id="homework_donedate">
    </div>
    <input type="text" name="linked_upload" id="" class="hide">
    <button id="Sharebtn"class="" type="submit" >Share</button>
</form>

    <div id="" class="shareModalDiv" >
    <div class="upload_image_div" > <i class="bi bi-plus-square-dotted"></i>  <input type="file" accept="image/png, image/gif, image/jpeg" class="upload_image" id="" multiple > <span>upload image</span> </div>
    </div>    
</div>

{% comment %} <div id="NSHF" >No such homework found</div>
<div id="NSUF" >No such user found</div> {% endcomment %}
{% endblock nav %}

{% block content %}
{% if homework %}

{% else %}
<div id="select_hw_aq">
    <select name="" id="">
        <option value="Homeworks" >homeworks</option>
        <option value="askedworked" >asked homeworks</option>
    </select>
</div>

{% endif %}


<div id="askedWorkHome" style="display:none;">
{% for question in Questions  %}

<div class="askednanswerContainer" >
<div class="askedCOntainer">
    <div class="postedby_profile" style="height:20%;" >
        <span class="postedby_profilepic profile"  ></span>
        <a href="{% url 'view_profile' question.user %}" class="homework_postedby">{{question.user}}</a>
        <span class="homework_posttime"> {{question.posttime}} </span>
        </div>
        <div class="asked_question" >{{question.question}} </div>
        <div class="question_interaction_div" >
        <div class="question_upload_div" >
            <span class="question_upload">Upload Work</span>
        </div>
        <div class="hide asked_question_id">{{question.id}}</div>
            <div class="question_interaction" >
                <span class="question_share"><i class="bi bi-share"></i> share with someone who can send </span>
                <span class="question_waiting">
                    <i class="bi bi-people-fill"></i>
                    waiting
                </span>
               {% if request.user == question.user %}
               <i class="bi bi-trash"></i>
               {% else %}
               {% endif %}
               
            </div>
        </div>
        {% if question.homework_ids|length != 0 %}
        <div class="view_que_homeworks" >View homeworks</div>
        {% else %}
        {% endif %}
</div>


{% for homework in homeworks  %}
    {% if homework.id in question.homework_ids %}
        <div class="homework_container" >
<div class="postedby_profile" >
<span class="postedby_profilepic profile" ></span>
<a class="homework_postedby" href="{% url 'view_profile' homework.postedby %}" > {{homework.postedby}}</a>
<span class="homework_posttime" > {{homework.posttime | date:"d M Y f A"}}</span>
</div>


<i class="bi bi-caret-left-fill img-slide-left"></i>


{% if homework.imgsrcs|length == 1 %}
<i class="bi bi-caret-right-fill img-slide-right" style="display:none;"></i>

{% else %}
<i class="bi bi-caret-right-fill img-slide-right" ></i>
{% endif %}



{% if homework.imgsrcs|length == 1 %}
<img src={{ homework.imgsrcs.0 }} alt="" class="activeimg" style="height: 65%;">
{% else %}
<img src={{ homework.imgsrcs.0 }} alt="" class="activeimg" style="height: 55%;">
{% endif %}


{% if homework.imgsrcs|length != 1 %}
<div class="homework_img_divs">
{% for imgsrc in homework.imgsrcs %}
{% if forloop.counter == 1 %}
<img  src={{ imgsrc }} class="homework_img active_img" style="border:1px solid skyblue">
{% else %}
<img  src={{ imgsrc }} class="homework_img active_img">
{% endif %}
{% endfor %}
</div>
{% endif %}
{% comment %} |slice:"1:-1" {% endcomment %}

<span class="homework_description" > {{homework.description}}</span>


<div class="homework_interaction_div">
<div  class="interaction_div_stars" >
{% if request.user in homework.upvoted_by.all %} 
<i class="bi bi-star-fill upvote_btn"></i>
{% else %}
<i class="bi bi-star upvote_btn" ></i>
{% endif %} 

<span class="homework_upvoted_by_count"> {{ homework.upvoted_by.all | length }}</span>
</div>

<div class="interaction_div_btns" >
<i class="bi bi-share"  ></i>
{% if homework.pk in userprofile.pending_works %}
<i class="bi bi-file-earmark-minus pending_works_change_icon"></i>
{% else %}
<i class="bi bi-file-earmark-plus pending_works_change_icon"></i>
{% endif %}

<i class="bi bi-file-earmark-arrow-down"></i>
{% if request.user == homework.postedby %}
<i class="bi bi-trash-fill"></i>
{% else %}
{% endif %}

</div>

 </div>



<div style="display:none;" >
{% for voters in homework.upvoted_by.all %}
{{voters}}
{% endfor %}
</div>
<span class="homework_no">{{homework.pk}}</span>

</div>
    {% else %}
    {% endif %}
{% endfor %}

</div>
{% endfor %}
</div>




<div>
    <div>
        <input type="date" name="" id="">
        
     </div>
    <div> <span>Apply filter</span>  <span>Close</span> </div>
</div>

<div id="HomeworkHome" >



{% comment %} view_homework {% endcomment %}
{% if homework %}

<div class="homework_container" >
<div class="postedby_profile" >
<span class="postedby_profilepic profile" ></span>
<a href="{% url 'view_profile' homework.postedby %}" class="homework_postedby"> {{homework.postedby}}</a>
<span class="homework_posttime" > {{homework.posttime | date:"d M Y f A"}}</span>
</div>
<i class="bi bi-caret-left-fill img-slide-left"></i>
{% if homework.imgsrcs|length == 1 %}
<i class="bi bi-caret-right-fill img-slide-right" style="display:none;"></i>

{% else %}
<i class="bi bi-caret-right-fill img-slide-right" ></i>
{% endif %}

{% if homework.imgsrcs|length == 1 %}
<img src={{ homework.imgsrcs.0 }} alt="" class="activeimg" style="height: 65%;">
{% else %}
<img src={{ homework.imgsrcs.0 }} alt="" class="activeimg" style="height: 55%;">
{% endif %}


{% if homework.imgsrcs|length != 1 %}
<div class="homework_img_divs">
{% for imgsrc in homework.imgsrcs %}
{% if forloop.counter == 1 %}
<img  src={{ imgsrc }} class="homework_img active_img" style="border:1px solid skyblue">
{% else %}
<img  src={{ imgsrc }} class="homework_img active_img">
{% endif %}
{% endfor %}
</div>
{% endif %}
{% comment %} |slice:"1:-1" {% endcomment %}

<span class="homework_description" > {{homework.description}}</span>


<div class="homework_interaction_div">
    <div  class="interaction_div_stars" >
{% if request.user in homework.upvoted_by.all %} 

<i class="bi bi-star-fill upvote_btn"></i>
{% else %}
<i class="bi bi-star upvote_btn" ></i>
{% endif %} 



<span class="homework_upvoted_by_count"> {{ homework.upvoted_by.all | length }}</span>
</div>
<div class="interaction_div_btns" >
<i class="bi bi-share"  ></i>
{% if homework.pk in userprofile.pending_works %}
<i class="bi bi-file-earmark-minus pending_works_change_icon"></i>
{% else %}
<i class="bi bi-file-earmark-plus pending_works_change_icon"></i>
{% endif %}
<i class="bi bi-file-earmark-arrow-down"></i>
{% if request.user == homework.postedby %}
<i class="bi bi-trash-fill"></i>
{% else %}
{% endif %}
</div>
 
</div>



<div style="display:none;" >
{% for voters in homework.upvoted_by.all %}
{{voters}}
{% endfor %}
</div>
<span class="homework_no">{{homework.pk}}</span>
</div>

{% else %}



 {% comment %} ????????!!!!!!!!!!!! {% endcomment %}
 {% comment %} ????????!!!!!!!!!!!! {% endcomment %}
 {% comment %} ????????!!!!!!!!!!!! {% endcomment %}



{% for homework in homeworks %}

<div class="homework_container" >
<div class="postedby_profile" >
<span class="postedby_profilepic profile" ></span>
<a class="homework_postedby" href="{% url 'view_profile' homework.postedby %}" > {{homework.postedby}}</a>
<span class="homework_posttime" > {{homework.posttime | date:"d M Y f A"}}</span>
</div>


<i class="bi bi-caret-left-fill img-slide-left"></i>


{% if homework.imgsrcs|length == 1 %}
<i class="bi bi-caret-right-fill img-slide-right" style="display:none;"></i>

{% else %}
<i class="bi bi-caret-right-fill img-slide-right" ></i>
{% endif %}




{% if homework.imgsrcs|length == 1 %}
<img src={{ homework.imgsrcs.0 }} alt="" class="activeimg" style="height: 65%;">
{% else %}
<img src={{ homework.imgsrcs.0 }} alt="" class="activeimg" style="height: 55%;">
{% endif %}


{% if homework.imgsrcs|length != 1 %}
<div class="homework_img_divs">
{% for imgsrc in homework.imgsrcs %}
{% if forloop.counter == 1 %}
<img  src={{ imgsrc }} class="homework_img active_img" style="border:1px solid skyblue">
{% else %}
<img  src={{ imgsrc }} class="homework_img active_img">
{% endif %}
{% endfor %}
</div>
{% endif %}

{% comment %} |slice:"1:-1" {% endcomment %}

<span class="homework_description" > {{homework.description}}</span>


<div class="homework_interaction_div">
<div  class="interaction_div_stars" >
{% if request.user in homework.upvoted_by.all %} 
<i class="bi bi-star-fill upvote_btn"></i>
{% else %}
<i class="bi bi-star upvote_btn" ></i>
{% endif %} 

<span class="homework_upvoted_by_count"> {{ homework.upvoted_by.all | length }}</span>
</div>

<div class="interaction_div_btns" >
<i class="bi bi-share"  ></i>
{% if homework.pk in userprofile.pending_works %}
<i class="bi bi-file-earmark-minus pending_works_change_icon"></i>
{% else %}
<i class="bi bi-file-earmark-plus pending_works_change_icon"></i>
{% endif %}

<i class="bi bi-file-earmark-arrow-down"></i>
{% if request.user == homework.postedby %}
<i class="bi bi-trash-fill"></i>
{% else %}
{% endif %}

</div>

 </div>



<div style="display:none;" >
{% for voters in homework.upvoted_by.all %}
{{voters}}
{% endfor %}
</div>
<span class="homework_no">{{homework.pk}}</span>

</div>
{% comment %} HOME Container  {% endcomment %}

{% endfor %}


{% endif %}



{% comment %} Container ka container {% endcomment %}

</div>






{% endblock content %}

{% block script %}
<script src="{% static 'home.js' %}" type="module"></script>


{% endblock script %}


