{% extends "home.html" %}



{% block content %}

<div class="view_profile_div" >
    <span class="profile view_profile_pic" ></span>
    <div class="viewprofile_user">
        {{user}}
        </div>
        
        <div class="stars_count" >
<i class="bi bi-star-fill"></i> <span> {{ stars }} </span>
</div>
        </div>
    <div class="viewprofile_user_bio">
        {{mainprofiles.bio}}
        </div>

    {% if mainprofiles.user == request.user %}
    <div  id="edit_profile_btn">
    edit bio
</div>
    <div  id="save_profile_btn" class="hide">
    save bio
</div>
    {% else %}
    <div class="viewprofile_user_bio">
    {{mainprofile.bio}}
</div>
    {% endif %}



</div>





 


{% endblock content %}