

body {
  margin: 0px;
  background-color: #0d1117;
  color: white;
}

a {
  display: block;
  text-decoration: none;
  color:inherit;
}

button {
  width: 100%;
  border: none;
  color: inherit;
  /* font-size: large; */
  font-family: inherit;
}



.logoutbtn {
  height: 100%;
  color: white;
  background: red;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.homework_container {
  height: 75vh;
  width: 50vw;
  border-radius: 5px;
  background-color: #0d1014;
  margin-bottom: 10px;
  position: relative;
  max-width: 350px;
  font-family: system-ui;
  border: 1px white solid;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  min-height: 400px;
  max-height: 450px;
}
.view_profile_div{
  position: absolute;
  top: 50px;
  bottom: 50%;
  width: 100%;
}


.viewprofile_user {
  position: absolute;
  font-size: x-large;
  font-family: patrick hand;
  left: 40%;
  top: 10px;
}
.viewprofile_user_bio{
  position: absolute;
  left: 40%;
  top: 30%;
  font-family: 'Patrick Hand';
  right: 0;
  height: 30%;
}
span.homework_postedby {
    position: absolute;
    width: 50%;
    left: 55px;
    font-size: large;
}
.homework_img_divs {
    display: block;
    position: absolute;
    border: 1px white solid;
    height: 65%;
    left: 0%;
    right: 0;
    top: 10%;
}
span.homework_description {
    color: white;
    position: absolute;
    top: 76%;
    left: 5px;
    right: 0;
    display: block;
    bottom: 10%;}

span.homework_posttime {
    position: absolute;
    right: 2%;
    font-size: small;
    width: 50%;
    text-align: right;
}

.homework_upvoted_by_div {
    position: absolute;
    top: 90%;
    left: 5px;
    right: 0;
    display: grid;
    font-size: x-large;
    grid-template-columns: 11% 67% 12% 9%;
    align-content: center;
    /* align-items: baseline; */
}

.postedby_profile{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    display: grid;
    align-items: center;
}

.postedby_profilepic{
    left: 5%;
}

.homework_no{
    display: none;
}

.view_profile_pic{
  left: 10px;
  height: 200px !important;
  width: 200px !important;
}

.img-slide-right {
  position: absolute;
  right: 0;
  z-index: 1;
  bottom: 50%;
  top: 50%;
  font-size: x-large;
}
.img-slide-left {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0px;
    z-index: 1;
    font-size: x-large;
    display:none;
}
.bi:hover{
color: blueviolet;
}

input[type="file"]{
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
}

i.bi.upvote_btn.bi-hand-thumbs-up-fill {
  color: aqua;
}

.upvote_btn:hover {
  color: grey;
}

.titlemain {
  font-size: xx-large;
  position: relative;
  text-decoration: none;
  color: white;
  font-family: amatic sc;
  margin-left: auto;
  margin-right: auto;
}
