body {
  margin: 0px;
  background-color: #0d1117;
  color: white;
}

a {
  display: block;
}

button {
  width: 100%;
}

.logoutbtn {
  height: 100%;
  color: white;
  background: red;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

.homework_container {
  height: 60vh;
  width: 50vw;
  border-radius: 5px;
  background-color: tomato;
  margin-bottom: 10px;
  position: relative;
  max-width: 350px;
  left: 35%;

}
.view_profile_div{
  position: absolute;
  top: 50px;
  bottom: 50%;
  width: 100%;
}


.viewprofile_user {
  position: absolute;
  font-size: x-large;
  font-family: patrick hand;
  left: 40%;
  top: 10px;
}
.viewprofile_user_bio{
  position: absolute;
  left: 40%;
  top: 30%;
  font-family: 'Patrick Hand';
  right: 0;
  height: 30%;
}
span.homework_postedby {
    position: absolute;
    width: 50%;
    left: 55px;
    font-size: large;
}
.homework_img_divs {
    display: block;
    position: absolute;
    border: 1px white solid;
    height: 65%;
    left: 0%;
    right: 0;
    top: 10%;
}
span.homework_description {
    color: white;
    position: absolute;
    top: 76%;
    left: 5px;
    right: 0;
    display: block;
    bottom: 10%;}

span.homework_posttime {
    position: absolute;
    right: 2%;
    font-size: small;
    width: 50%;
    text-align: right;
}

.homework_upvoted_by_div {
    position: absolute;
    top: 90%;
    left: 5px;
    right: 0;
    display: grid;
    font-size: x-large;
    grid-template-columns: 11% 67% 12% 9%;
    align-content: center;
    /* align-items: baseline; */
}

.postedby_profile{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    display: grid;
    align-items: center;
}

.postedby_profilepic{
    left: 5%;
}

.homework_no{
    display: none;
}

.view_profile_pic{
  left: 10px;
  height: 200px !important;
  width: 200px !important;
}