nav{
    background: #161b22;
    height: 40px;
    display: grid;
    grid-auto-flow: column;
    font-size: large;
    color: aliceblue;
    border: 1px solid black;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    align-items: center;
    }

    body{
        margin: 0px;
    
    }
    .profile{
    border: 1px white solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 20px;
    background-repeat: round;
    background-image: url(https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png);
    }
    .profile_div{
    position: absolute;
    top: 0;
    right: 0;
    left: 60%;
    height: 100%;
    display: grid;
    align-items: center;}

    .titlemain{
        font-size: large;
    position: absolute;
    left: 40%;
    }

    .searchicon{
    position: absolute;
    left: 6%;
    font-size: larger;
    z-index: 1;
    }

    .profile_dropdownicon{
        position: absolute;
        right: 0;
    }
    #searchhelpmework{
        width: 150px;
    background: #0d1117;
    border: none;
    position: absolute;
    left: 5%;
    top: 5px;
    bottom: 5px;
    border-radius: 5px;
    z-index: 1;
    color: wheat;
    padding-left: 40px;
    }

    
    #searchModalDiv{
        background: antiquewhite;
    position: absolute;
    top: 50px;
    display: grid;
    right: 5%;
    left: 5%;
    bottom: 5%;
    border-radius: 2px;
    filter: drop-shadow(2px 4px 6px black);
    background-color: #0d1117;
    background: url("https://c.tenor.com/uyV5AiN5CxsAAAAM/spongebob-study.gif");
    background-repeat: round;
    background-size: contain;
    align-content: baseline;
    }

    .a_result{
    position: relative;
    left: 0;
    right: 0;
    color: white;
    border: 1px white solid;
    display: block;
    padding: 10px;
    font-family: system-ui;
    text-decoration: none;
    max-height: 50px;
    }

    #HomeworkHome{
    position: fixed;
    top: 40px;
    bottom: 0%;
    overflow-y: scroll;
    right: 0;
    padding-top: 25px;
    left: 0;
    /* padding-bottom: 25px; */
    }


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color: #444444;
}

::-webkit-scrollbar
{
	width: 12px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #D62929;
	background-image: -webkit-linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.4) 50%,transparent,transparent)
}

#searchModal{
    display: none;
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgb(0 0 0 / 68%);
}

.hidemyprnt{
        position: absolute;
    right: 5%;
    top: 0px;
    color: wheat;
    font-size: xx-large;
}